@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

html, body, #root, .App{
  height: 100vh;
}

:root {
  --border: 1px solid rgb(186, 186, 186);
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --transition: transform 0.3s ease, box-shadow 0.3s ease;
  --green: #76B852;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Light grey background */
}

.content {
  flex: 1; 
  padding: 20px;
  background-color: #E5E5E5;
}

* {
  font-family: 'Poppins', Arial, sans-serif; /* Default font is Poppins, fallback to Arial and sans-serif */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Change the background and text color of selected text */
::selection {
  background-color: #76B852; /* Green background */
  color: white; /* White text */
}


