.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logo h1 {
  font-weight: bolder;
  font-size: 1.3em;
  color: #76B852;
  margin: 0;
}

.logo-n {
  font-size: larger;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a, .nav-links span {
  text-decoration: none;
  color: rgba(0,0,0,.5);
  font-weight: 500;
}

.nav-links a:hover, .nav-links span:hover {
  color: rgba(0, 0, 0, 0.668);
  font-weight: 500;
}

.nav-links a.active {
  font-weight: bold; 
  color: rgba(0, 0, 0, 0.668);
}